* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.wrapper {
  padding-top: 158px;
  padding-bottom: 60px;
  width: 818px;
  height: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 55px;
}

@media only screen and (max-width: 830px) {
  .wrapper {
    width: 527px;
    height: auto;
  }
}
@media only screen and (max-width: 540px) {
  .wrapper {
    width: 236px;
  }
}