@mixin styledPrice {
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    font-family: "proxima-nova-extra-condensed";
}

@mixin styledDay {
    font-size: 60px;
    text-transform: capitalize;
    color: #000;
    font-family: "proxima-nova-extra-condensed";
    margin-bottom: -25px;
}

@mixin dotYay {
    width: 133px;
    height: 40px;
    background-color: #79ADDC;
    border-radius: 20px;
    margin: 0 auto;
    padding-top: 9px;


    a {
        color: #fff;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        padding-left: 24px;
        font-family: "gill-sans-nova";
        font-size: 15px;

    }
}